{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Persona 5 Calendar</title>
    <link rel="stylesheet" href="{% static 'css/spriteassets.css' %}">
    
    <style>
        :root {
            --background-image: url("{% static 'images/sprite_assets.png' %}")
        }
    </style>
</head>
<body>
    <div class="number-container num-one">
        <div class="number number-1"></div>
        <div class="number-inner-outline number-1-inner-outline"></div>
        <div class="number-outer-outline number-1-outer-outline"></div>
    </div>
    <div class="number-container num-two">
        <div class="number number-2"></div>
        <div class="number-inner-outline number-2-inner-outline"></div>
        <div class="number-outer-outline number-2-outer-outline"></div>
    </div>
    <div class="number-container num-three">
        <div class="number number-3"></div>
        <div class="number-inner-outline number-3-inner-outline"></div>
        <div class="number-outer-outline number-3-outer-outline"></div>
    </div>
    <div class="number-container num-four">
        <div class="number number-4"></div>
        <div class="number-inner-outline number-4-inner-outline"></div>
        <div class="number-outer-outline number-4-outer-outline"></div>
    </div>
    <div class="number-container num-five">
        <div class="number number-5"></div>
    </div>
    <div class="number-container num-six">
        <div class="number number-6"></div>
    </div>
    <div class="number-container num-seven">
        <div class="number number-7"></div>
    </div>
    <div class="number-container num-eight">
        <div class="number number-8"></div>
    </div>
    <div class="number-container num-nine">
        <div class="number number-9"></div>
    </div>
    <div class="number-container num-zero">
        <div class="number number-0"></div>
    </div>
</body>
</html>